<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="fnproject.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><i class="fa fa-home"></i>Logo</div>
            <div class="team">Team
            </div>
            <div class="price">Price</div>
            <div class="search_icon">
                <i class="fa fa-magnifying-glass"></i>
            </div>
        </div>
    </header>
    <div class="imgsection" style="background-image: url('https://www.w3schools.com/w3images/ocean.jpg');">
        <div class="msg">Ready to dive</div>
    </div>
    <div class="msg2">

        <p class ="p"><h2>OUR TEAM</h2></p>
        <p class="p"><h4>Meet the team - our office rats</h4></p>
    </div>
        <div class="workers">

            <div class="box border"></div>
            <div class="box border"></div>
            <div class="box border"></div>
            <div class="box border"></div>
        </div>
        <div class="name">
            <p>john cena</p>
            <p>john cena</p>
            <p>john cena</p>
            <p>john cena</p>
            
        </div>
        <div class="post">
            <div class="posts"><h4>

                web designer
            </h4>
        </div>
            <div class="posts"><h4>support</h4></div>
            <div class="posts"><h4>bossman</h4></div>
            <div class="posts"><h4>fixer</h4></div>
        </div>
    <footer>
        <div class="price pborder">
            <div class="pbox"></div>
            <div class="pbox"></div>
            <div class="pbox"></div>
        </div>
    </footer>
</body>
</html>