*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border: border-box;
}
body{
    width: 100%;
}
.navbar{
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: larger;
    position:fixed;

}
.logo{
    height: 100%;
    width: 100px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.logo:hover{
    background-color: lightgray;
    color: black;
}
.team
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    margin-left: 0;
}
.team:hover{
    background-color: white;
    color: black;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70px;
    margin-left: 0;
}
.price:hover{
    background-color: white;
    color: black;
}
.search_icon{
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80%;
    
}
.search_icon:hover{
    background-color: green;
}
.imgsection{
    border: 2px solid black;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.msg{
    margin-top: 450px;
    color: white;
}
.workers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.msg2{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.border{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 30px;
}
.box{
    background-image: url("https://st.depositphotos.com/7247698/56662/i/450/depositphotos_566626298-stock-photo-happy-black-african-women-engineer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.name{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 15px;
    align-items: center;
    text-align: center;
}
.post{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    text-align: center;
}