*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.container{
    width: 50%;
    height: 200px;
    border:2px solid black;
    margin-left: 100px;
    position:fixed;
    top: 10px;
    background-color: aqua;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap-reverse; */
    /* align-items:first baseline baseline; */
    /* align-content:end ; */
}
.item1,.item2,.item3{
    width: 20%;
    height: 50%;
    border:2px solid black;
    background-color: bisque; 
    margin:10px ;

}
.item2,.item3:hover{
    box-shadow: -6px 2px;
}